/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.header__image {
    height: 20px;
    width: auto;
}

.header__button {
    background-color: #1a73e8;
    color: white;
    margin: 0 .5rem 0 .625rem;
    min-width: 6rem;
    padding: 0.5 1.4rem;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;
}

.header__button:hover {
    cursor: pointer;
    background: #1b66c9;
    box-shadow: 0 1px 3px 1px rgba(66,64,67,.15), 0 1px 2px 0 rgba(60,64,67,.3);
}

.header a {
    padding-left: 0.5rem;
}